body{
	font-family: 'Raleway', sans-serif;
	background:#eaeff7;
}
.navbar{
	font-family: 'Raleway', sans-serif;
	background: #eaeff7;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
.description{
	background-image:url("../img/sky.jpg");
	background-position: right left;
	background-size: 500px;
	background-repeat: no-repeat;
}
.card-footer{
	font-size: 40px;
}
.fa-facebook{
	padding-left: 5px;
}
.fa-instagram{
	padding-left: 5px;
}
.fa-pinterest{
	padding-left: 5px;
}